<template>
  <v-card
    elevation="24"
    width="90vw"
    max-width="600"
    margin-top="5vh"
    min-height="300"
    height="90vh"
    class="mx-auto"
  >
    <v-carousel
      :continuous="false"
      :cycle="cycle"
      :show-arrows="true"
      hide-delimiter-background
      delimiter-icon="mdi-minus"
      height="100%"
    >
      <v-carousel-item
        v-for="(slide, i) in slides"
        :key="i"
      >
        <v-sheet
          :color="colors[i]"
          height="100%"
          tile
        >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >

            <component v-bind:is="slide.component"
              v-bind:collection="slide.collection"
              v-on:opencategory="openCategory($event)">
            </component>
            <!--<div class="display-3">{{ slide }} Slide</div>-->
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
  </v-card>
</template>

<script>
  import list from './list';

  export default {

    components: {
      list
    },

    data () {
      return {
        colors: [
          'green',
          'secondary',
          'yellow darken-4',
          'red lighten-2',
          'orange darken-1',
        ],
        cycle: false,
        slides: [
          {component:'list', collection:'categories'},
          {component:'list', collection:'articles'}
        ]
      }
    },
  }
</script>