
<template>
    <div>
        <v-app-bar dark color="pink" >
            <v-toolbar-title>{{ collection }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
            </v-btn>
        </v-app-bar>
        <v-container>
            <v-row dense>
            <v-col
                v-for="(item, i) in items"
                :key="i"
                cols="12"
            >
                <v-card :color="item.color" dark >
                <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                    <v-card-title
                        class="headline"
                        v-text="item.title"
                    ></v-card-title>
                    <v-card-subtitle v-text="item.artist"></v-card-subtitle>
                    </div>
                </div>
                </v-card>
            </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
  import { db } from '../plugins/db'

  export default {
    props: [
      'collection'
      ],
    data: () => ({
        items: [
        {
            color: '#952175',
            title: 'Culture',
            nb: '10',
        },
        {
            color: '#952175',
            title: 'Sujets de société',
            nb: '5',
        },
        {
            color: '#952175',
            title: 'Scepticisme',
            nb: '1',
        },
        {
            color: '#952175',
            title: 'Sciences',
            nb: '1',
        }
        ],
    }),

    firestore: {
      items: db.collection('categories'),
    },
  }
</script>
