<template>
    <v-card
        v-bind:style="{
            position:'absolute', 
            'margin-top': ((level-levelMax)*(20/levelMax)) + 'rem', 
            'margin-left': ((level-levelMax)*(20/levelMax)) + 'rem'
        }"
        max-width="400px"
        v-bind:elevation="level*2">
        <slot></slot>
    </v-card>
</template>

<script>
  export default {
    props: [
        'level',
        'levelMax'
        ],
  }
</script>
