<template>
  <v-app>
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <vCardPerso v-bind:level="1" v-bind:levelMax="3">
            <List v-bind:collection="categories"/>
          </vCardPerso>
          <vCardPerso v-bind:level="2" v-bind:levelMax="3">
            <List v-bind:collection="articles"/>
          </vCardPerso>
          <vCardPerso v-bind:level="3" v-bind:levelMax="3">
            <Neutral/>
          </vCardPerso>
        </v-row>
      </v-container>

    </v-content>
  </v-app>
</template>

<script>
import vCardPerso from './components/vCardperso';
import Neutral from './components/neutral';
import List from './components/list';

export default {
  name: 'App',

  components: {
    Neutral,
    vCardPerso,
    List
  },

  data: () => ({
    nbvolet: 3
  })
};
</script>
